.card-container {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

body {
    font-family: 
}

label {
    display: block;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

input[type="text"],
textarea {
    width: calc(100% - 15px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px;
    border-style: solid;
    border-color: rgb(230, 229, 229);
    border-radius: 5px;
    background-color: white;
    font-size: 13px;
    transition: all 0.3s ease-in-out;
}

textarea {
    height: 150px;
    resize: none;
}

input[type="text"]:hover,
textarea:hover {
    background-color: #ebebeb;
}

input[type="text"]:focus,
textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #ebebeb;
}
